@import '../../../variables.scss';
@import '../../../mixins.scss';

current {
    background-color: $color8;
    position: relative;
    .section-content {
        margin-top: 45px;
        position: absolute;
        background-color: $color6;
        font-size: 0.8em;
        div.container {
            position: relative;
            background-color: $color8;
            height: 100%;
            margin-bottom: 50px;
        }
        md-tab-header {
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            width: 100%;
        }
        .loading-info {
            font-size: 0.5em;
        }
    }
    button {
        font-size: 0.8em;
       // margin: 15px;
        background-color: $color6;
        color: grey; 
        width: 100%;
    }
    button.add-spent {
        position: fixed;
        height: 50px;
        bottom: 0;
        left: 0;
        @media only screen and (min-width: 768px) {
            margin-top: 25px;
            position: static;
        }
    }
}