<div class="section-header">
    <div class="container">
        <div class="moveBack">
            <a [routerLink]="['/categories']"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="title">{{title}}</div>
        <div class="history">
            <a [routerLink]="['history']"><i class="material-icons">history</i></a>
        </div>
    </div>
</div>
<div class="section-content">
    <div class="container">
        <md-tab-group>
            <md-tab label="{{statisticsTranslation.current}}">
                <sub class="loading-info" *ngIf="!spendsForCurrentMonth.length">{{statisticsTranslation.loading}}</sub>
                <statistics-list [spends]="spendsForCurrentMonth" [totals]="currentSpendTotals" [totalLabel]="statisticsTranslation.total"></statistics-list>
            </md-tab>
            <md-tab label="{{statisticsTranslation.previous}}">
                <statistics-list [spends]="spendsForPreviousMonth" [totals]="previousSpendTotals" [totalLabel]="statisticsTranslation.total"></statistics-list>
            </md-tab>
        </md-tab-group>        
        <button class="add-spent" md-button type="button" [routerLink]="['/add']"><em>{{statisticsTranslation.addNew}}</em></button>
    </div>
</div>