<section-header [title]="title">
    <div move-back>
        <a [routerLink]="['/categories']"><i class="material-icons">arrow_back</i></a>
    </div>
    <div move-forward>
        <a [routerLink]="['history']"><i class="material-icons">history</i></a>
    </div>
</section-header>
<div class="section-content">
    <div class="container">
        <md-tab-group>
            <md-tab label="{{statisticsTranslation.current}}">
                <md-spinner  *ngIf="loading"></md-spinner>
                <sub class="loading-info" *ngIf="!loading && !spendsForCurrentMonth.length">{{statisticsTranslation.noDataFound}}</sub>
                <statistics-list [spends]="spendsForCurrentMonth" [totals]="currentSpendTotals" [totalLabel]="statisticsTranslation.total"></statistics-list>
            </md-tab>
            <md-tab label="{{statisticsTranslation.previous}}">
                <statistics-list [spends]="spendsForPreviousMonth" [totals]="previousSpendTotals" [totalLabel]="statisticsTranslation.total"></statistics-list>
            </md-tab>
        </md-tab-group>        
        <button class="add-spent" md-raised-button color="primary" (click)="add()"><em>{{statisticsTranslation.addNew}}</em></button>
    </div>
</div>