@import '../../../variables.scss';
@import '../../../mixins.scss';

current {
    .section-header {
        @include section-header($color1);
        
        padding: 10px 25px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        div.container {
            background-color: $color1;
            padding: 5px 0;
        }
    }

    .section-content {
        background-color: $color6;
        font-size: 0.8em;
        div.container {
            background-color: $color8;
            height: 100%;
        }
        md-tab-header {
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            width: 100%;
        }
    }
    button {
        background-color: $color5;
        color: grey; 
    }
}