@import '../../../variables.scss';
@import '../../../mixins.scss';

statistics-all {
    position: relative;
    .category-content {
        margin-top: 15px;
        padding-top: 20px;
        background-color: $color6;
        overflow-y: scroll;
        font-size: 0.7em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .category {
            .cost-info {
                font-size: 0.6em;
                float: right;
            }

            &.hp .expansion-panel{
                @include set-category-border-color($color1);
            }
            &.gr .expansion-panel{
                @include set-category-border-color($color2);
            }
            &.eq .expansion-panel{
                @include set-category-border-color($color3);
            }
            &.hb .expansion-panel{
                @include set-category-border-color($color4);
            }
            &.pt .expansion-panel{
                @include set-category-border-color($color5);
            }

            .layout-column {
                &.expansion-panel__description {
                    display: none;
                }
                &.expansion-panel__arrow-down {
                    flex: initial;
                }
            }
            
            .data-empty {
                font-size: 0.5em;
            }
            .expansion-panel__content {
                margin: 0;

                .grouped-list {
                    font-size: 0.7em;
                    padding: 0;
                    list-style: none;

                    li {
                        padding: 15px;
                        box-shadow: 0px 3px 5px grey;
                    }
                }
            } 
        }  
                /* Medium screens */
        @media only screen and (min-width: 768px) {
            margin: 0 auto;
            position: static;
            width: 75%;
            .expansion-panels-container {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                .category {
                    width: 45%;
                    margin: 5px 0;
                    border: 1px solid $color8;
                    padding: 5px;
                }
            }
            
        }
    }

    .add-spent-container{
        background: $color1;
        position: fixed;
        display: flex;
        justify-content: center;
        bottom: 0;
        &, 
        button {
            width: 100%;
        }
                /* Medium screens */
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }
}
