@import '../../variables.scss';

header {
    display: none;
    
/*Update css for medium and big screens*/
    /* Medium screens */
    @media only screen and (min-width: 768px) {
        background-color: $primary; 
        color: $color8;
        display: flex;
        justify-content: center;
        width:  100%;
        margin: 0px;      
    }    
}
