@import '../../../variables.scss';
@import '../../../mixins.scss';
.section-header {
    position: fixed;
    justify-content: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $primary;
    div.container {
        box-shadow: 0px 2px 1px grey;
        color: $color8;
        padding: 10px ;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;


    }

    @media only screen and (min-width: 768px) {
        position:static;
        background-color: lighten($warn, 25%);
        box-shadow: 0px 2px 1px grey;
        div.container {
            box-shadow: inherit;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            color: $color7;
            width: 75%;
        }
    }
}

        