<section-header [title]="title">
    <div move-back></div>
    <div class="history" move-forward>
        <a class="history-link" [routerLink]="['/statistics/history-all']"><i class="material-icons">history</i></a>
        <a (click)="signOut()"><i class="material-icons">&#xE879;</i></a>
    </div>
</section-header>

<div class="category-content">
    <ul>
        <li class="category" [ngClass]="(category.alias + ' ' + (activeCategory === category.value ? 'highlighted' : ''))" *ngFor="let category of list" (click)="getStatistics(category.value)">
            <div class="category-name">{{category.value}}
                <a class="add" (click)="add(category.value)"><i class="material-icons">add</i></a>
            </div>
            <div class="cost-info">Total: {{totalsPerCurrentMonth[category.value]}}</div>
            
        </li>
    </ul>
</div>
<section class="add-spent-container">
    <button md-raised-button type="button" color="primary" [routerLink]="['/add']"><i>Add spent</i></button>
</section>


