@import '../../variables.scss';
@import '../../mixins.scss';

categories {
    .category-content {
        padding: 3em 1em 1.5em 1em;
        line-height: 100%;
        background-color: $color6;
        font-size: 0.7em;
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        width: 100%;
        ul{
            list-style-type: none;
            padding: 0;
        }
        .category {
            border-top: 1px solid $color8;
            //border-bottom: 1px solid $color8;
            box-shadow: 1px 0px 3px lighten($color9, 30%);
            padding: 25px 5px;
            clear: both;
            margin: 10px 0;

            /* highlighted, hover should work */
            &.highlighted,
            &.hover {
                color:red;
            }
            .category-name {
                width: 100%;
                padding-bottom: 10px; 
            }
            .add {
                display: none;
            }
            .cost-info {
                font-size: 0.6em;
                float: right;
            }

            &.hp {
                @include set-category-border-color($color1);
            }
            &.gr {
                @include set-category-border-color($color2);
            }
            &.eq {
                @include set-category-border-color($color3);
            }
            &.hb {
                @include set-category-border-color($color4);
            }
            &.pt {
                @include set-category-border-color($color5);
            }
            
        }
            
        
                /* Medium screens */
        @media only screen and (min-width: 768px) {
            margin: 0 auto;
            position: static;
            width: 75%;
            ul {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                .category {
                    width: 45%;
                    border: 1px solid $color8;
                    padding: 15px 5px;
    
                    .add {
                        display: initial;
                        float: right
                    }
                }
            }  
        }
    }

    .add-spent-container{
        background: $color1;
        position: fixed;
        display: flex;
        justify-content: center;
        bottom: 0;
        left:0;
        &, 
        button {
            width: 100%;
        }
                /* Medium screens */
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }
}
