@import '../../variables.scss';
@import '../../mixins.scss';

categories {
    .desktop-version {
        display:none;
        @media only screen and (min-width: 768px) {
            display: initial;
        }
    }
    .mobile-version {
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }
    .history .history-link i {
        color: $color8;
        padding: 0 10px;

        @media only screen and (min-width: 768px) {
            color: $color7;
        }
    }
    .category-content {
        margin: 3em 1em 1.5em 1em;
        background-color: $color6;
        font-size: 0.7em;
        display:flex;
        flex-flow: column wrap;
        justify-content: center;

        ul{
            list-style-type: none;
            padding: 0;
        }
        .category {
            border-top: 1px solid $color8;
            //border-bottom: 1px solid $color8;
            box-shadow: 1px 0px 3px lighten($color9, 30%);
            padding: 10px 5px;
            clear: both;
            margin: 10px 0;

            /* highlighted, hover should work */
            
            .category-name {
                width: 100%;
                padding-bottom: 10px; 
            }
            .add {
                display: none;
            }
            .cost-info {
                font-size: 0.6em;
            }

            &.hp {
                @include set-category-border-color($color1);
            }
            &.gr {
                @include set-category-border-color($color2);
            }
            &.eq {
                @include set-category-border-color($color3);
            }
            &.hb {
                @include set-category-border-color($color4);
            }
            &.pt {
                @include set-category-border-color($color5);
            }
            
        }
        .diagram-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-flow: column wrap;
            height: 200px;
            width: 100%;
        
            .totals-container {
                position: absolute;
                color: grey;
                width: 100%;
            }
        }
                /* Medium screens */
        @media only screen and (min-width: 768px) {
            padding: 0;
            margin: 0 auto;
            position: static;
            width: 75%;
            ul {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                .category {
                    width: 45%;
                    border: 1px solid $color8;
                    padding: 15px 5px;
    
                    .add {
                        display: initial;
                        float: right;
                        .material-icons {
                            @include material-icon-wrapper($primary);  
                            margin: 0;
                        }
                    }
                }
            }  
        }
    }

    .add-spent-container{
        background: $color1;
        position: fixed;
        display: flex;
        justify-content: center;
        
        bottom: 0;
        left:0;
        &, 
        button {
            width: 100%;
            font-size: 0.8em;
        }
                /* Medium screens */
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }
}
