@import './../variables.scss';
@import './../mixins.scss';

categories {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color6;
    position: relative;
    .section-header {
        @include section-header($color1);
        position: fixed;
        top: 0;
        width: 100%;
        div.container {
            background-color: $color1;
            padding: 5px 0;
        }
                 /* Medium screens */
        @media only screen and (min-width: 768px) {
            position:static;
        }

        /* Laptops screens */
        @media only screen and (min-width: 1224px) {
            position:static;
        }
    }
    .category-content {
        margin-top: 45%;
        margin-bottom: 50px;
        background-color: $color6;
        overflow-y: scroll;
        font-size: 0.8em;
        .container {
            height: 100%;

            .category {
                border-top: 1px solid $color8;
                margin: 5px 0;
                padding: 15px 5px;
                clear: both;

                /* highlighted, hover should work */
                &.highlighted,
                &.hover {
                    color:red;
                }
                .category-name {
                    width: 100%;
                }
                .cost-info {
                    font-size: 0.6em;
                    float: right;
                }

                &.hp {
                    @include set-category-border-color($color1);
                }
                &.gr {
                    @include set-category-border-color($color2);
                }
                &.eq {
                    @include set-category-border-color($color3);
                }
                &.hb {
                    @include set-category-border-color($color4);
                }
                &.pt {
                    @include set-category-border-color($color5);
                }
                
            }
            
        }
                /* Medium screens */
        @media only screen and (min-width: 768px) {
            margin-top: 10%;
            .container .category {
                width: 45%;
                margin: 5px;
                border: 1px solid $color8;
                float: left;
                clear: none;
                padding: 25px 5px;
            }
        }
    }

    .add-spent-container{
        background: $color1;
        position: fixed;
        display: flex;
        justify-content: center;
        bottom: 0;
        &, 
        button {
            width: 100%;
        }
                /* Medium screens */
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }
}
