<div class="datepicker-container">
    <md-input-container>
        <input mdInput [mdDatepicker]="fromDate" value="{{from}}"/>
        <button mdSuffix [mdDatepickerToggle]="fromDate"></button>
    </md-input-container>    
    <md-datepicker #fromDate                   
        md-current-view="month" 
        md-mode="month">
    </md-datepicker>
    <md-input-container>
        <input mdInput [mdDatepicker]="toDate" value="{{to}}"/>
        <button mdSuffix [mdDatepickerToggle]="toDate"></button>
    </md-input-container>    
    <md-datepicker #toDate                 
        startView="month">
    </md-datepicker>     
</div>