@import '../../../variables.scss';

.datepicker-container {
    font-size: 0.8em;
    display: flex;
    flex-flow: row wrap;
    justify-content: s;
    margin-bottom: 15px;
    md-input-container {
        width: 50%;
    }

    .validation-message {
        font-size: 0.7em;
        color:$warn;
        margin-top: -15px;
    }
}