@mixin items-to-select($border-color, $background-color, $text-color) {
    //background-color: $background-color;
    color: $text-color;
    padding: 10px;
    margin: 10px 2px;
    border: 1px solid $border-color;
    border-radius: 2px;
}

@mixin set-category-border-color($color) {
    border-left: 3px solid $color;
    &.highlighted,
    &.hover {
        color:$color;
    }
}

@mixin material-icon-wrapper($color) {
    border-radius: 50%;
    border: 1px solid $color;
    color: $color;
    margin: 5px;
    padding: 5px;
    max-height: 24px;
}

@mixin material-icons-color($color1, $color2) {
    [move-back],
    [move-forward] {
        & i.material-icons {
            color: $color1;

            @media only screen and (min-width: 768px) { 
                color: $color2;
            }

        }
    }

}