$color1: #1b2a56;
$color2: #307d74;
$color3: #acd128;
$color4: #678c24;
$color5: #33420c;
$color6: #FEFEFF;
$color7: #000;
$color8: #f9f9f9;
$color9: grey;

$primary: #3f5586;
$accent: #cbe452;
$warn: #607123;
