$md-mcgpalette4: (
    50 : #faf6fa,
    100 : #f2e9f2,
    200 : #e9dbea,
    300 : #e0cde1,
    400 : #d9c2da,
    500 : #d2b7d4,
    600 : #cdb0cf,
    700 : #c7a7c9,
    800 : #c19fc3,
    900 : #b690b9,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fdebff,
    A700 : #fbd2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

