$md-mcgpalette3: (
    50 : #fcf9f9,
    100 : #f9efef,
    200 : #f5e5e5,
    300 : #f0dbdb,
    400 : #edd3d3,
    500 : #eacbcb,
    600 : #e7c6c6,
    700 : #e4bebe,
    800 : #e1b8b8,
    900 : #dbacac,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

