<h3 class="main-header">{{login.title | uppercase}}</h3>
<img class="main-img" src="/assets/icon-4x.png"/>
<section class="sign-in-section">
    <div class="section-info"><em>{{login.signInInfo}}</em></div>
    <button md-button type="button" (click)="signInWithGoogle()">
        <img class="google-icon" src="/assets/google_logo.png"/>
        <em>{{login.googleSignIn}}</em>
    </button>
    <button md-button type="button" (click)="signInWithFacebook()">
        <img class="facebook-icon" src="/assets/facebook_logo.png"/> 
        <em>{{login.facebookSignIn}}</em>
    </button>
</section>