@import '../../variables.scss';
@import '../../mixins.scss';

login {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-around;
    padding: 15px;

    .main-img {
        object-fit: scale-down;
    }
    h3 + sub {
        margin-bottom: 15px;
    }

    .user-form {
        font-size: 0.5em;
        .email-container,
        .pass-container {
            flex-flow: row nowrap;
            display: flex;
            .mat-input-container {
                width: 100%;
            }
        }
        i.material-icons {
            @include material-icon-wrapper($primary);  
        }
    }
    
    .sign-in-mobile-section {
        padding-top: 5px;
        margin: 10% 0;
        font-size: 0.7em;
        flex-flow: row wrap;
        justify-content: center;
        button.mat-fab.mat-accent {
            min-height: 50px;
            margin: 10px 5px;
            background-color: $color8;
            .google-icon,
            .facebook-icon {
                max-height: 40px;
                vertical-align: middle;
            }
            em {
                margin-left: 40px;
            }
        }
        .section-info {
            font-size: 0.8em;
            color: $color9;
        }
    }
    .sign-in-desktop-section {
        display: none;
    }

/*Update css for medium and big screens*/
    /* Medium screens */
    @media only screen and (min-width: 768px) {
        position: static;
        margin-left: auto;
        margin-right: auto;

        .main-header ,
        .sign-in-mobile-section {
            display: none;
        }
    
        .sign-in-desktop-section {
            display: initial;
            font-size: 0.5em;
            button {
                min-height: 50px;
            }
            
            .section-info {
                padding: 10px;
                color: $color9;
            }
            .google-icon,
            .facebook-icon {
                padding: 10px 0;
                max-height: 40px;
                vertical-align: middle;
            }
        }
    }
}