<em *ngIf="totals" class="summary"> {{totalLabel}} {{totals}}</em>
<expansion-panels-container *ngIf="spends && spends.length">
    <expansion-panel *ngFor="let item of spends">
        <expansion-panel-title class="spend-info">         
            {{ item.dateString}} - ${{item.price}}
        </expansion-panel-title>
        <expansion-panel-content>
            <img *ngIf="item.picture" src="{{item.picture}}" alt=""/>
            <img *ngIf="!item.picture" src="assets/chek.png"/>
        </expansion-panel-content>
    </expansion-panel>

</expansion-panels-container>