$md-mcgpalette1: (
    50 : #fbfdfd,
    100 : #f6f9f9,
    200 : #f0f6f5,
    300 : #eaf2f1,
    400 : #e6efee,
    500 : #e1eceb,
    600 : #ddeae9,
    700 : #d9e7e5,
    800 : #d5e4e2,
    900 : #cddfdd,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

