@import '../../variables.scss';
@import '../../mixins.scss';

scanner {
    .content {
        margin: 15% 10px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        background-color: $color6;
        position: relative;
        md-input-container,
        md-select {
            font-size: 0.5em;
            width: 100%;
            text-align: left;
            & .mat-select-placeholder.ng-trigger {
                font-size: 0.9em;
            }
        }
     
        .btn-submit{
            position: fixed;
            bottom: 0;
            left:0;
            width: 100%;
        }

        .img-container {
            img {
                max-height: 128px;
            }
            cursor: pointer;
            margin: 15px;
            padding: 15px;
            box-shadow: 2px 2px 5px grey;
        }

        @media only screen and (min-width: 768px) {
            margin: 0;
            
            form {
                margin: 0 20%;

                .btn-submit {
                    margin-top: 15px; 
                    position: static;
                }
            }
        }
    } 
}
