<section-header [title]="title">
    <div move-back>
        <a (click)="backClicked()"><i class="material-icons">arrow_back</i></a>
    </div>
    <div move-forward></div>
</section-header>
<div class="section-content">
    <div class="container">
        <range-selector [from]="from" [to]="to" (dateUpdated)="dateUpdated($event)"></range-selector>
        <em class="spends-info" *ngIf="spends && spends.length">{{statisticsTranslation['spend-title']}}</em>
        <statistics-list [spends]="spends"></statistics-list>
    </div>
</div>