@import '../../../variables.scss';
@import '../../../mixins.scss';

history {
    font-size: 0.8em;
    position: relative;
    .spends-info {
        font-size: 0.8em;
    }

    .section-content {
        margin-top: 45px;
        position: absolute;
    }
}

