@import '../../variables.scss';
@import '../../mixins.scss';

statistics {
    .section-header {
        @include section-header($color1);
        padding: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        div.container {
            background-color: $color1;
            padding: 5px 0;
        }
    }
    .section-content {
        background-color: $color6;
        div.container {
            background-color: $color8;
            height: 100%;
        }
        md-tab-header {
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            width: 100%;
        }
    }
    button {
        background-color: $color5;
        color: grey; 
    }
}